* {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu";
  box-sizing: border-box;
}

.App {
  margin: 0 0 50px;
}

.search_box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search_input {
  transition: border 0.25s ease-in-out;
  padding: 10px;
  font-size: 20px;
  outline: none;
  border: 1px solid #333;
  border-radius: 8px;
  margin: 15px 0;
  color: #222;
}

.search_input:focus {
  border-bottom: 3px solid #333;
}

td,
th {
  text-align: left;
}

td {
  padding: 0 0 5px 5px;
}

th {
  font-size: 24px;
  padding-bottom: 10px;
}

th:not(:last-child) {
  padding-right: 30px;
}

@media (min-width: 685px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
  }

  table {
    margin-top: 15px;
  }

  th {
    font-size: 28px;
  }
}
